@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 150px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{
        display: block;
        margin: 10px 50px 10px 0;
    }

    nav ul li a{
        color: #fff;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .cart-icon{
        display: none;
    }

    .container .row{
        margin-top: 120px;
    }
}

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }

    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

    select{
       margin: 20px auto;
       width: 100%;
    }

    .single-product input{
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
    }

    .btn{
        width: 100%;
    }

    .cart-infor img{
        margin-bottom: 5px;
    }
    .cart-infor div{
        margin-left: -5px;
    }
    .cart-infor p{
        display: none;
    }
}